
body {
  background-color: #cccccc;
}
.jumbotron{
	background-color: #f5f5f5!important;
}

.panel-heading{
	background-color: #143D67!important;
	border-color: #143D67!important;

}
.panel{
		border-color: #cccccc!important;

}
.white-text{

	color: white!important;
}

.panel-body{
	background-color: #f5f5f5!important;
}

